.zadig_repertoire_title {
    background-color: #fcfaf4;
    margin: 0;

    img {
        height: auto;
    }

    .wp-block-column:first-child {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .wp-block-column:last-child {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }

    h1 {
        @extend .zadig_title_left;
        width: 466px;
        margin-left: 122px;
        height: 2em;
        padding: 0;
    }

    .wp-block-image {
        margin: 0;
    }
}

.zadig_repertoire_groupe1{
    padding-top: 88px;
    background-color: #fcfaf4;
    padding-bottom: 40px;
}

.zadig_repertoire_groupe2{
    padding-top: 40px;
    background-color: #ECE2CB;

    .wp-block-columns:first-child{
        padding-bottom: 80px;;
    }
}

.zadig_repertoire_description {
    margin: 0;
   
   

    .wp-block-column:first-child > * {
        padding-left: 122px;
    }

    .wp-block-column:last-child > * {
        padding-left: 22px;
        width: 466px;
    }

    .wp-block-column {
        margin: 0;
    }   

    h3 {
        font-family: Karla;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        padding-top: 1.5em;
    }

    p {
        padding-top: 1.5em;
        padding-bottom: 3em;
    }

    .wp-block-button{
        padding-top: 1.5em;
    }

}
